<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/main.css">
  <title>Deepraj books notes</title>
</head>

<body class="bookstore-section">
  <header class="bookHeader">
    <h1>Welcome to the <br><span>World of Books.</span></h1>
  </header>
  <div class="container">
    <form action="/search" method="POST">
      <label for="site-search">Search books: 👇</label>
      <input type="search" id="site-search" name="bookName" />
      <button>Search</button>
    </form>
  </div>
  <div class="container2">
    <h1>Books I’ve read</h1>
    <% bookData.forEach(function(book) { %>
      <div>
        <img src="<%= book.cover_url %>" alt="Cover Image" style="max-width: 200px;">
        <h2>
          <%= book.title %>
        </h2>
        <p><strong>Author:</strong>
          <%= book.author %>
        </p>
        <p><strong>ISBN:</strong>
          <%= book.isbn %>
        </p>
        <p><strong>Publish Date:</strong>
          <%= book.publish_date ? new Date(book.publish_date).toLocaleDateString() : 'Not available' %>
        </p>
        <p>
          <strong>Star Rating:</strong>
          ⭐⭐⭐⭐
        </p>
        <p><strong>Description:</strong>
          <%= book.description %>
        </p>
        <p>
          <strong>My Review:</strong>
          <%= book.note %>
        </p>
        <a href="/bookinfo/<%= book.book_id %>">Read</a> 
        <a href="/edit/<%= book.book_id %>">Edit Review</a>
        <% if(book.source) { %>
          <p><strong>Source:</strong> <a href="<%= book.source %>">Link</a></p>
          <% } %>
      </div>
      <hr>
      <% }); %>
  </div>
¥
  <footer>
    <p>&copy; 2024 All rights reserved. | Designed by <a href="https://yourwebsite.com" target="_blank">Deepraj</a></p>
  </footer>

</body>

</html>